@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

#index {
    background-color: deepskyblue;
}

#page2 {
    background-color: darkslategray;
}

#page3 {
    background-color: salmon;
}

